<h1>Contacts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Email
      </th>
      <th>
        Message
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contact|}}
      <tr>
        <td>
          {{contact.id}}
        </td>
        <td>
          {{contact.email}}
        </td>
        <td>
          {{contact.message}}
        </td>
        <td class="text-center">
          <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
